parameters:
    upload_dir: 'uploads/'

services:
    app.topic.chat:
        class: Dipsycat\FbSocialBundle\Topic\Chat
        arguments: ["@doctrine", "@security.token_storage", "@gos_web_socket.client_storage"]
    app.uploader:
        class: Dipsycat\FbSocialBundle\Services\Uploader
        arguments: ['%kernel.root_dir%/../web/%upload_dir%', '%upload_dir%']
            
    app.form.type.image:
        class: Dipsycat\FbSocialBundle\Form\Type\ImageType
        tags:
            - { name: form.type, extended_type: Symfony\Component\Form\Extension\Core\Type\FileType }
    app.mailer:
            class: Dipsycat\FbSocialBundle\Services\Mailer
            arguments: ['@service_container', '@mailer']
