{% extends 'DipsycatFbSocialBundle::layout.html.twig' %}
{% block title %}
    Conversations
{% endblock %}
{% block wrapper %}
    {{ parent() }}
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Conversations</h1>
        </div>
    </div>
    <div class="row">
        {% for conversation in app.user.userConversations %}
            <a href="{{ path('dipsycat_fb_social_conversation', { 'id': conversation.id }) }}">{{  conversation.name }}</a><br>
        {% endfor %}
    </div>
{% endblock %}
