{% extends 'form_div_layout.html.twig' %}

{% block image_widget %}
    {% spaceless %}
        <div class="file-upload" data-text="Download your photo">
           {{ block('form_widget') }}
        </div>
        <div class="form-group" style="margin-top:10px;">
            {% if image_url is defined and image_url is not null %}
                <img class="img-responsive downloaded-image" src="{{ asset(image_url) }}" alt="" />
            {% endif %}
        </div>
    {% endspaceless %}
{% endblock %}
