{% extends 'DipsycatFbSocialBundle::layout.html.twig' %}
{% block title %}
    Friends
{% endblock %}
{% block wrapper %}
    {{ parent() }}
    <ul>
        {% for friend in friends %}
            <li>{{ friend.username }}</li>
            {% endfor %}
    </ul>
{% endblock %}

